.chat {
	flex-direction: column;

	header {
		position: sticky;
		top: 0;
		z-index: 10;
		background: #ea526f;
		display: block;
		width: 100%;
		padding: 50px 30px 10px;

		.username {
			position: absolute;
			top: 15px;
			left: 15px;
			appearance: none;
			border: none;
			outline: none;
			background: none;
			margin: 0 500px;
			@media (max-width: 600px) {
				margin: 0 10px;
			}
		}

		.logout {
			position: absolute;
			top: 15px;
			right: 15px;
			appearance: none;
			border: none;
			outline: none;
			background: none;
			@media (max-width: 600px) {
				margin: 0 10px;
			}

			color: #FFF;
			font-size: 18px;
			margin: 0 500px;
			text-align: right;
		}

		h1 {
			color: #FFF;
		}
	}

	.chat-box {
		border-radius: 24px 24px 0 0;
		background-color: #FFF;
		box-shadow: 0 0 12px rgba(100, 100, 100, 0.2);
		flex: 1 1 100%;
		padding: 30px;
		margin: 0 500px;
		@media (max-width: 600px) {
			margin: 0 10px;
		}

		.message {
			display: flex;
			margin-top: 30px;

			.message-inner {
				.username {
					color: #888;
					font-size: 16px;
					margin-bottom: 5px;
					padding-left: 15px;
					padding-right: 15px;
				}

				.content {
					display: inline-block;
					padding: 10px 20px;
					background-color: #F3F3F3;
					border-radius: 999px;
					color: #333;
					font-size: 18px;
					line-height: 1.2em;
					text-align: left;
				}
			}

			&.current-user {
				justify-content: flex-end;
				text-align: right;

				.message-inner {
					max-width: 75%;

					.content {
						color: #FFF;
						font-weight: 600;
						background-color: #ea526f;
					}
				}
			}
		}

		.scroll-top {
			padding: 10px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin-top: 10px;
			border-radius: 30%;
			border: 2px solid #ea526f;
			cursor: pointer;
			transition-duration: 0.4s;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
			&:hover {
				background-color: #ea526f;
				color: white;
				img {
					filter: invert(100%);
				}
			}

			img {
				margin-bottom: -3px;
				width: 15px;
				height: 15px;
			}
		}
	}

	footer {
		position: sticky;
		bottom: 0;
		background-color: #FFF;
		padding: 30px;
		box-shadow: 0 0 12px rgba(100, 100, 100, 0.2);
		margin: 0 500px;
		@media (max-width: 600px) {
			margin: 0 10px;
		}

		form {
			display: flex;

			input[type="text"] {
				flex: 1 1 100%;
				appearance: none;
				border: none;
				outline: none;
				display: block;
				width: 100%;
				padding: 10px 15px;
				border-radius: 8px 0 0 8px;

				color: #333;
				font-size: 18px;
				box-shadow: 0 0 0 rgba(0, 0, 0, 0);
				background: #F3F3F3 none;
				transition: 0.4s;

				&::placeholder {
					color: #888;
					transition: 0.4s;
				}
			}

			input[type="submit"] {
				appearance: none;
				border: none;
				outline: none;
				display: block;
				padding: 10px 15px;
				border-radius: 0 8px 8px 0;
				background: #ea526f none;
				color: #FFF;
				font-size: 18px;
				font-weight: 700;
			}
		}
	}
}